.mixin.out/
assets/
astralsorcery/
bendspacks/
crash-reports/
journeymap/
llibrary/
local/
logs/
saves/
screenshots/
server-resource-packs/
shaderpacks/
resourcepacks/
versions/

optionsshaders.txt
.curseclient

*.json
*.dat
*.bak










