*
*log

!mods/
!mods/*

!config/
!config/*

!liteconfig/
!liteconfig/*

config/InvTweaks.cfg
config/jei/worldSettings.cfg
config/splash.properties
config/thaumicjei_itemstack_aspects.json
liteconfig/common/liteloader.keys.properties
liteconfig/liteloader.log
liteconfig/liteloader.properties
